@font-face { 
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/BebasNeue-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
 } 


*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html{
    color: #330000;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F7F7F7;
}

h1{
    font-family:'Source Sans Pro';
    color: rgba(55,0,0,1);
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 4rem 0;
}

h1 small {
    font-size: 3rem;
    display:block;
}

h2{ 
    font-family:'Bebas Neue';
    color: rgba(55,0,0,1);
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0 0 0;
}

ul li {
    line-height:2rem;
}


.cf {
 color: transparent;
 background: -webkit-linear-gradient(transparent, transparent), url(ProductManager-background@2x.png) repeat;
 background: -o-linear-gradient(transparent, transparent);
 background: -moz-linear-gradient(transparent, transparent);
 background-clip: text;
 -webkit-background-clip: text;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size:4rem;
        margin-top:3rem;
    }

    h1 small {
        font-size:2rem;
    }
    h2 {
        font-size:4rem;
    }
    a {font-size:2rem;}

    .topics li {
        font-size:2rem;
    }
}

h3{
    font-family:'Source Sans Pro';
    color: rgba(155,155,155,1);
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin: 3rem 0;
}

.links {
    margin:4rem auto;
    text-align:center;
}

a{  
    font-size:1rem;
    color:rgb(250, 33, 67);
    position:relative;
    text-decoration: none;
    margin-right:2rem;
}

a:last-child{
    margin-right:0;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: rgb(250, 33, 67);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

a:hover{
    transition: all linear 0.2s;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

.topics {
    margin:0 auto;
    text-align: center;
    position:relative;
    overflow:hidden;
    height:3rem;
}


.topics li {
    list-style-type:none;
    line-height: 3rem;
}

.topics ul {
    margin:0;padding:0;
    display: inline-block;
  color: #e74c3c;
  font-size:3rem;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

   /*animation*/
-webkit-animation:move 5s;
-moz-animation:move 5s;
 -ms-animation:move 5s;
  -o-animation:move 5s;
     animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
 -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
     animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
 -ms-animation-delay:1s;
  -o-animation-delay:1s;
     animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
 0%  { top: 0px; }
 20% { top: -50px; }
 40% { top: -100px; }
 60% { top: -150px; }
 80% { top: -200px; }
}
@-moz-keyframes move {
 0%  { top: 0px; }
 20% { top: -50px; }
 40% { top: -100px; }
 60% { top: -150px; }
 80% { top: -200px; }
}
@-o-keyframes move {
 0%  { top: 0px; }
 20% { top: -50px; }
 40% { top: -100px; }
 60% { top: -150px; }
 80% { top: -200px; }
}
@keyframes move {
 0%  { top: 0px; }
 20% { top: -50px; }
 40% { top: -100px; }
 60% { top: -150px; }
 80% { top: -200px; }
}
